<div class="max-w-sm m-auto rounded overflow-hidden shadow-lg">
          <div id="viewport_<%= ModelName %>" style="height: 300px;"></div>
          <div class="px-6 py-4">
            <div class="font-bold text-xl mb-2"><%= ModelDetails.name %></div>
            <p class="text-gray-700 text-base mb-2">
              [<%= ModelDetails.tag %>]
            </p>
            <p class="text-gray-700 text-base">
              <%= ModelDetails.description %>
            </p>
          </div>
          <div class="w-full flex flex-row px-6 py-4">
            <div class="flex-grow"></div>
            <div class="text-sm flex-none text-right">
              <p class="text-gray-900 leading-none"><%= ModelDetails.publisher %></p>
              <p class="text-gray-600"><%= new Date(ModelDetails.date).toLocaleString() %></p>
            </div>
          </div>
        </div>